interactions:
- request:
    body: ''
    headers:
      authorization:
      - Basic dXNlcjpwYXNzd29yZA==
    method: GET
    uri: https://api.brewfather.app/v2/inventory/yeasts/default-016efc
  response:
    body:
      string: '{"attenuation":81,"hidden":false,"_rev":"eSMaZhSPJrvKKOK4gAtNSmrGslTeHe","maxTemp":28,"description":"American
        ale yeast producing well balanced beers with low diacetyl and a very clean,
        crisp end palate. Forms a firm foam head and presents a very good ability
        to stay in suspension during fermentation.","maxAttenuation":null,"fermentsAll":false,"type":"Ale","inventory":0,"_version":"2.10.5","_timestamp":{"_seconds":1713166899,"_nanoseconds":864000000},"amount":1,"productId":"US-05","bestBeforeDate":null,"_timestamp_ms":1713166899864,"minAttenuation":null,"flocculation":"Medium","minTemp":16,"unit":"pkg","form":"Dry","laboratory":"Fermentis","_created":{"_seconds":1675768760,"_nanoseconds":320000000},"name":"Safale
        American","manufacturingDate":null,"_id":"default-016efc","userNotes":"","maxAbv":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Function-Execution-Id:
      - l5swaukr05oj
    status:
      code: 200
      message: OK
version: 1
