interactions:
- request:
    body: ''
    headers:
      authorization:
      - Basic dXNlcjpwYXNzd29yZA==
    method: GET
    uri: https://api.brewfather.app/v2/inventory/hops/default-8e9450d5
  response:
    body:
      string: '{"manufacturingDate":null,"_id":"default-8e9450d5","cohumulone":null,"inventory":70,"usedIn":"","beta":null,"notes":"","bestBeforeDate":null,"substitutes":"","oil":null,"myrcene":null,"type":"Pellet","farnesene":null,"hidden":false,"hsi":null,"temp":null,"name":"Citra","_created":{"_seconds":1660335960,"_nanoseconds":662000000},"origin":"US","_timestamp":{"_seconds":1742721935,"_nanoseconds":842000000},"userNotes":"","use":"Boil","year":null,"amount":null,"_timestamp_ms":1742721935842,"usage":"Both","_rev":"v26R3apkol1vdmF5zHwJF2eKIwJ6ap","alpha":12,"caryophyllene":null,"humulene":null,"ibu":0,"_version":"2.11.6","time":60}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Function-Execution-Id:
      - l5swgw1bpcsu
    status:
      code: 200
      message: OK
version: 1
