interactions:
- request:
    body: ''
    headers:
      authorization:
      - Basic dXNlcjpwYXNzd29yZA==
    method: GET
    uri: https://api.brewfather.app/v2/inventory/fermentables
  response:
    body:
      string: '[{"_id":"default-03044fe","attenuation":0,"inventory":0.7,"name":"Rice
        Hulls","supplier":"Briess","type":"Adjunct"},{"_id":"default-08f456e","attenuation":null,"inventory":0,"name":"Oats,
        Flaked","supplier":"","type":"Grain"},{"_id":"default-0aa30343c0c","inventory":1.02,"name":"Swaen
        Ale","supplier":"The Swaen","type":"Grain"},{"_id":"default-0f322ac","attenuation":0.16,"inventory":0.7,"name":"Chocolate
        Wheat","supplier":"Weyermann","type":"Grain"},{"_id":"default-1c58599","inventory":0.15,"name":"Crystal
        Malt 60L","supplier":"Thomas Fawcett","type":"Grain"},{"_id":"default-2f3e835","attenuation":null,"inventory":0.12,"name":"Chateau
        Munich","supplier":"Castle Malting","type":"Grain"},{"_id":"default-33db684","attenuation":0.81,"inventory":0.456,"name":"Pale
        Malt, Maris Otter","supplier":"Thomas Fawcett","type":"Grain"},{"_id":"default-387ce3a","attenuation":0.16,"inventory":0.541,"name":"Chocolate
        Rye","supplier":"Weyermann","type":"Grain"},{"_id":"default-4d8b7c4","attenuation":0.79,"inventory":0,"name":"Vienna
        Malt","supplier":"Weyermann","type":"Grain"},{"_id":"default-60a8af8","inventory":0.46,"name":"Munich
        I","supplier":"Weyermann","type":"Grain"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Function-Execution-Id:
      - oi8jscramznl
    status:
      code: 200
      message: OK
version: 1
